 /*user define css*/
  

.line-left {
	border-left:15px;border-left-style:solid;border-color:white;
}

.line-left-black {
	border-left:15px;border-left-style:solid;border-color:black;
}
 
@media screen and (max-width: 768px) {
  	.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 { font-size: 10vw; }
  	.line-left {
	border-left:1.5vw;border-left-style:solid;border-color:white;
	}
	.line-left-black {
	border-left:1.5vw;border-left-style:solid;border-color:black;
	}
}

